<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bzzmans Trade Bot</title>
    <style>
        body {text-align: center; font-family: Arial, Helvetica, sans-serif; background-color: cornflowerblue;}
    </style>
</head>
<body>
    <h1 style="color: goldenrod;">Welcome to the Bzzman's Crypto Trading Bot (3)({{TRADE_SYMBOL}})</h1>
    <h3 style="color: goldenrod;">Woof Woof!</h3>
    <img src="{{url_for('static', filename='tenor.gif')}}" alt="To The Moon" width="400" height="300"">

</body>
</html>